:root {
  --minor-shadow: 0 2px 8px -2px #000;
}

.rowitem.fadeIn {
   opacity: 1;
   transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -webkit-transition: opacity 2s ease-in-out;
   }

.rowitem.fadeOut {
    opacity:0;
}

.rowitem { display: none; width: 100%; position: relative; padding-left: 80px; box-shadow: var(--minor-shadow); margin-bottom: 8px; cursor: pointer; transition: .2s; }
.rowitem .id { position: absolute; top: 0; left: 0; bottom: 0; width: 64px; font-size: 36px; line-height: 48px; padding: 0 6px; color: #F8F8FB; }
.rowitem .meta { display: inline-block; font-size: 24px; color: #444; line-height: 48px; }
.rowitem .meta .icon { width: 420px; }
.rowitem span { position: absolute; right: 24px; }

.icon { display: inline-block; }
.icon:before { display: inline-block; height: 36px; width: 36px; content:''; margin-right: 12px; vertical-align: top; background-size: 100% 100%; }
.icon.teachers:before { background-image: url('dancers.png'); margin-top: 4px; }
.icon.origin:before { background-image: url('event.png'); margin-top: 4px; }

.lesson .id, .rowitem.lesson:hover { background-color: #71C2FF; }  /* blue */
.move .id, .rowitem.move:hover { background-color: #00CC11; }  /* green */
.aerials .id, .rowitem.aerials:hover { background-color: #FF782B; }  /* orange */
.performance .id, .rowitem.performance:hover { background-color: #AE70FF; } /* purple */
.google .id, .rowitem.google:hover { background-color: #FFD314; } /* yellow */